/* Estilo General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: #121212;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Navegación */
.navegacion {
    background: linear-gradient(90deg, #1f1f1f, #333);
    padding: 1rem 0;
    text-align: center;
}

.navegacion ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion li a {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
}

.navegacion li a:hover {
    color: #1abc9c;
}

/* Sección de Inicio */
.inicio {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

.inicio h1 {
    font-size: 2.8rem;
    color: #b3e4da;
    margin-bottom: 1rem;
    text-align: center;
}

.inicio .intro {
    font-size: 1.2rem;
    color: #ccc;
    text-align: center;
    margin-bottom: 2rem;
}

/* Cards */
.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.card {
    background-color: #1f1f1f;
    border: 2px solid #333;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.card h2 {
    font-size: 1.8rem;
    color: #1abc9c;
    margin-bottom: 0.5rem;
}

.card p {
    color: #ddd;
    font-size: 1rem;
}

/* Herramientas */
.tools {
    list-style: none;
    margin-top: 2rem;
    color: white;
}

.tools li {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Enlaces */
a {
    color: #d9f5ef;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .inicio h1 {
        font-size: 2.2rem;
    }
    
    .card h2 {
        font-size: 1.6rem;
    }
}
